/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.clearFix {
  clear: both;
  width: 0;
  height: 0; }

.hide {
  display: none; }

.padding {
  padding-bottom: 3.2em; }

a {
  text-decoration: none; }

p {
  color: #000;
  font-size: 1.5em; }

h1 {
  font-size: 7em;
  text-transform: uppercase; }

h2 {
  font-size: 2.5em;
  color: #000; }

h3 {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 1em; }

.display-4 {
  color: #000; }

.carousel-inner img {
  width: 100%;
  height: 100%; }

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #563d7c; }
  .btn-primary:hover {
    background-color: #563d7c;
    border: 1px solid #563d7c; }

.jumbotron {
  padding: 1.6em;
  background-color: #cccccc;
  border-radius: 0; }
  .jumbotron button {
    top: 50%;
    font-size: 2em; }

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #ccc;
  font-size: 10px;
  line-height: 1.2; }

.navbar {
  padding: 1.28em; }

.navbar-nav li {
  padding-right: 2em; }

.nav-link {
  font-size: 1.7em; }

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial; }
  .carousel-caption button {
    margin: 10px 5px 0px 0px;
    padding: 5px;
    font-size: 1em; }
  .carousel-caption h1 {
    text-shadow: 1px 1px 15px #000; }
  .carousel-caption h3 {
    text-shadow: 1px 1px  10px #000; }

.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: visible; }

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 3.2em;
  color: #000; }
  .welcome hr {
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1.6em; }

.grid h3 {
  color: #000;
  padding-bottom: 0.5em; }

.fa-camera {
  color: #e5d426; }

.fa-bomb {
  color: #563d7c; }

.fa-bullseye {
  color: #2163af; }

.fa-camera, .fa-bomb, .fa-bullseye {
  font-size: 6em;
  margin-bottom: 0.4em; }

.built {
  width: 95%; }
  .built h2 {
    padding-bottom: 1.2em; }
  .built a {
    padding: 10px;
    font-size: 2em; }
  .built p {
    padding-bottom: 1.2em; }

figure {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 !important; }

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#fixed {
  background-image: url("../img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform; }

[class*="col-"] {
  padding: 1rem; }

.fun {
  width: 100%;
  padding: 1.2em 0;
  font-size: 2.4em;
  cursor: pointer; }

.gif {
  width: 100%; }

.meet {
  border-top: 2px solid #b4b4b4;
  width: 40%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 1.6em; }

.card h4 {
  font-size: 2em;
  color: #000; }
.card .card-text {
  margin-bottom: 1em; }
.card .btn {
  font-size: 1.5em;
  padding: 1em 1.5em 1em 1.5em; }

.social a {
  padding: 4.8em; }

.fa-facebook {
  color: #3b5998; }

.fa-twitter {
  color: #00aced; }

.fa-google-plus-g {
  color: #dd4be9; }

.fa-instagram {
  color: #517fa4; }

.fa-youtube {
  color: #bb0000; }

.fa-facebook, .fa-twitter, .fa-google-plus-g, .fa-instagram, .fa-youtube {
  margin-top: 1.2em;
  font-size: 6em; }
  .fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover {
    color: #d5d5d5; }

footer {
  color: #fff;
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 3.2em; }
  footer p {
    padding-top: 0.6em;
    font-size: 1.5em;
    color: #fff; }
  footer .light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin: 0 auto;
    margin-top: 1.6em; }
  footer h5 {
    font-size: 2em;
    padding: 0.6em 0 0.6em 0; }

@media (min-width: 576px) {
  .carousel-caption button {
    margin: 20px 30px 0px 0px;
    padding: 10px;
    font-size: 2em; } }
@media (max-width: 768px) {
  .social a {
    font-size: 1.6em;
    padding: 1.4em; } }

/*# sourceMappingURL=main.css.map */
