a {
    text-decoration: none;
    // color:$white;
}
p{
 color:#000;
 font-size: 1.5em;
}
h1{
    font-size:7em;
    text-transform: uppercase;
    
}
h2{
    font-size: 2.5em;
    color:#000;
}
h3{
    font-size: 2em;
    font-weight:500;
    padding-bottom: 1em;
}


.display-4{
    color:#000;
}
.carousel-inner img{
  width:100%;
  height:100%;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #563d7c;
    &:hover{
        background-color: #563d7c;
        border: 1px solid #563d7c;
    }
}
.jumbotron{
    padding:1.6em;
    background-color: #cccccc;
    border-radius: 0;
     button{
        top:50%;
       font-size: 2em;
    }
}

