@mixin static-gap-grid-list($grids, $marginLeft) {

.grid_1_of_#{$grids}{
		float:left;
  	   $marginNum : ($grids - 1)*$marginLeft;
       $widthVal : ((100-($marginNum))/$grids);
       width:percentage($widthVal/100);
       margin-left:percentage($marginLeft/100);
	}

}