body,html {
    height:100%;
    width:100%;
    font-family: 'Poppins', sans-serif;
    background: $white;
    color: #ccc;
    font-size: 10px;
    line-height:1.2;
}
.navbar{
    padding:1.28em;
}
.navbar-nav{
    li{
        padding-right:2em;
    }
}
.nav-link{
    font-size:1.7em;
}


.carousel-caption{
    top:50%;
    transform: translateY(-50%);
    bottom: initial;
    button{
      margin:10px 5px 0px 0px;
      padding:5px;
      font-size: 1em;
    }
    h1{
        text-shadow: 1px 1px 15px #000;
    }
    h3{
        text-shadow: 1px 1px  10px #000;
    }
}



// /*---Firefox Bug Fix //  and Blur fix--*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
   
//   Blur fix
  -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: visible;
}


.welcome{
    width:75%;
    margin:0 auto;
    padding-top:3.2em;
    color:#000;
  hr{
      border-top: 2px solid #b4b4b4;
      width:100%;
      margin-top:0.5em;
      margin-bottom:1.6em;
  }
  
}
.grid{
    h3{
      color:#000;
       padding-bottom:0.5em;
  }
}
.fa-camera{
    color:#e5d426;
}
.fa-bomb{
    color:#563d7c;
}
.fa-bullseye{
    color:#2163af;
}
.fa-camera,.fa-bomb,.fa-bullseye{
    font-size: 6em;
    margin-bottom: 0.4em;
}
.built{
    width:95%;
    h2{
        padding-bottom:1.2em;
    }
    a{
        padding:10px;
        font-size: 2em;
    }
    p{
        padding-bottom:1.2em;
    }
}
// /*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
// /*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


.fun{
   width:100%;
   padding:1.2em 0;
   font-size: 2.4em;
   cursor:pointer;
}
.gif{
    width:100%;
}

// Meet the team
.meet{
      border-top: 2px solid #b4b4b4;
      width:40%;
      margin:0 auto;
      margin-top:0.5em;
      margin-bottom:1.6em;
}
.card{
    h4{
        font-size: 2em;
        color:#000;
    }
    .card-text{
    
        margin-bottom:1em;
    }
    .btn{
        font-size:1.5em;
        padding:1em 1.5em 1em 1.5em;
    }
}
.social{
    a{
        // font-size: 1.6em;
        padding:4.8em;
    }

}

.fa-facebook{
color:#3b5998;

}
.fa-twitter{
color:#00aced;
}
.fa-google-plus-g{
color:#dd4be9;
}
.fa-instagram{
color:#517fa4;
}
.fa-youtube{
color:#bb0000;
}
.fa-facebook,.fa-twitter,.fa-google-plus-g,.fa-instagram,.fa-youtube{
   margin-top:1.2em;
    font-size:6em;
    &:hover{
        color:#d5d5d5;
    }
}

footer{
    color:$white;
    background-color:#3f3f3f;
    color:#d5d5d5;
    padding-top:3.2em;
    p{
        padding-top:0.6em;
        font-size: 1.5em;
        color:$white;
    }
    .light{
        border-top: 1px solid #d5d5d5;
        width:75%;
        margin:0 auto;
        margin-top:1.6em;
    }
    h5{
        font-size: 2em;
        padding:0.6em 0 0.6em 0;
    }
}
@media (min-width: 576px) { 
    .carousel-caption{
      button{
        margin:20px 30px 0px 0px;
        padding:10px;
        font-size: 2em;

    }
  }
}

@media (max-width:768px){
    .social{
        a{
           font-size: 1.6em;
    padding: 1.4em;
        }
    }
}